.films-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;

    &__item {

        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        list-style: none;
        width: 30%;


    }

    // &__item:not(last-child) {
    //     margin-right: 30px;
    // }

    &__item:not(:nth-child(3n)) {
        margin-right: 40px;
    }
}


.film-list__title {
    text-align: center;
    margin: 0;
    padding: 0;
}