@import "./films-list";
@import "./header/demo.scss";
@import "./header/reset.scss";
@import "./header/style.scss";
@import "./switchPages.scss";
@import "./search-form.scss";
@import "./micromodal.scss";
@import "./main-section.scss";
@import "../../node_modules/sal.js/dist/sal.css";

//modal card
@import "./modal-card/modal-card.scss";
@import "./modal-card/modal-card-text.scss";
@import "./modal-card/modal-card-button.scss";
@import "./comments.scss";
@import "./nanobar.scss";
@import "./elevator.scss";
@import "./backgroundAnimation.scss";
@import "./modal-card/buttonInner.scss";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#time {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);

  // transform: translate(-50%, -50%);
  color: #2f889a;
  font-size: 50px;
  z-index: 2;
  text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px,
    rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px,
    rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px,
    rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px,
    rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px,
    rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;
}

// .timer {
//     display: block;
//     position: fixed;
//     top: 10%;
//     left: 3%;
//     transition: all 1s;
//     z-index: 9999;
//     animation-name: heartBeat;
//     animation-iteration-count: infinite;
//     animation-duration: 1.3s;
//     animation-timing-function: ease-in-out;
// }

body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  position: relative;
  width: 73%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .search {
    width: 250px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .films-list__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .films-list {
    display: flex;
    justify-content: space-between;
  }

  .buttons-wrap {
    left: -244px;
    bottom: -8px;
  }

  .search-form-button {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .avatar {
    width: 40px;
    height: 40px;
  }

  .accountName {
    padding: 20px 0 0 8px;
    font-size: 12px;
  }

  .search {
    width: 111px;
    margin-right: 0;
    height: 24px;
    font-size: 10px;
  }

  .search-form {
    left: 54%;
  }

  .search-form-button {
    display: none;
  }

  .films-list {
    flex-direction: column;
  }

  .films-list__item {
    width: 100%;
  }

  .pageBtn {
    width: 100px;
    height: 42px;
  }

  .card-inner {
    display: block;
  }

  .buttons-wrap {
    left: 3px;
    bottom: -33px;
  }
}
