@import './films-list';
@import './header/demo.scss';
@import './header/reset.scss';
@import './header/style.scss';
@import './switchPages.scss';
@import './search-form.scss';
@import './micromodal.scss';
@import './main-section.scss';
@import '../../node_modules/sal.js/dist/sal.css';

//modal card
@import './modal-card/modal-card.scss';
@import './modal-card/modal-card-text.scss';
@import './modal-card/modal-card-button.scss';
@import './comments.scss';
@import './nanobar.scss';
@import './elevator.scss';

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
    position: relative;
    width: 70vw;
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}