@import './films-list';
@import './header/demo.scss';
@import './header/reset.scss';
@import './header/style.scss';
@import './modal-card';

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
    position: relative;
    width: 70vw;
    margin: 0 auto;
}