.modal-card {
    justify-content: space-between;
    width: 90%;


    position: absolute;
    // left: 0;  //work nolmal 

    top: 43vh;
    left: 50%;
    transform: translate(-50% , -50%);    

    margin-bottom: 60px;
    background-color: aqua;
}

.modal-card p {
    display: block;
    width: 100%;
}

.image-wrap {
    
}

.card-inner {
    display: flex;
    justify-content: space-between;

}

.card-wrap {
    display: none;
    position: relative;
}

.card-block {
    display: block;
    width: 50%;
    background-color: tomato;
}

.title-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fav-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    // display: block;
    // margin: 0 auto;
}

.exit-button {
    position: absolute;
    top: 20px;
    right: 20px;
}