// li
.modal-card {
    justify-content: space-between;
    width: 98%;

    position: absolute;
    // left: 0;  //work nolmal 

    top: 43vh;
    left: 50%;
    transform: translate(-50%, -65%);

    margin-bottom: 60px;
    background-color: aqua;
}

// p in li
.modal-card p {
    display: block;
    width: 100%;
}

//div card inner (image-wrap  / card-wrap) 
.card-inner {
    display: flex;
    justify-content: space-between;

}

//div image wrap (left)
.image-wrap {

}

.img-markup {
    // max-width: 40%;
}

.image-wrap_markup {
    width: 100%;
}


//div card wrap (exButton / div title / div comm / favButton)
.card-wrap {
    display: none;
    position: relative;
}

//div card-wrap for block
.card-block {
    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: tomato;
}

.title-wrap {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}




.fav-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    // display: block;
    // margin: 0 auto;
}

//ex button 
.exit-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    background-color: #FF3100;
    border-color: #ffffff; 

}

//ul
.comments-list {
    width: 80%;
    height: 300px;
    position: absolute;
    right: 20px;
    background-color: #fff;
}