.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.search {
    margin: 0;
    margin-right: 4px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    height: 35px;

    &::placeholder {
        padding-left: 10px;
    }

}

.search-form-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    transition: all 200ms;
    cursor: pointer;

    &:hover,
    &:focus {
        border-color: #2f889a;
        outline: none;
        box-shadow: 0 0 8px 3px #2f889a
    }
}

.button-svg {
    fill: white;
}

.search-form-button:hover .button-svg,
.search-form-button:focus .button-svg {
    fill: #2f889a;
}

.delete-form {
    display: none;
}