.switchPages{
    height: 60px;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
}

.pageBtn { 
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 120px;
    height: 50px;
    border: 1px solid rgb(206, 206, 206);    
    border-radius: 50px;
    background-color: #2f889a;
    color: white;
    font-size: 14px;
    opacity: 0.6;
    // position: relative;
    bottom: 24px;    
    outline: none;
    z-index: 1; 
}


.pageBtn:hover{
    background-color:rgb(4, 221, 221);
    opacity: 1;
}

.prvs{
    left: -10%;
}

.next{
    right: -10%;
}

.disabled {
     background-color: #3b3d4b;

}

.disabled:hover{
    background-color: #3b3d4b;
    opacity: 0.6;

}


@media screen and (min-width: 940px){
    .switchPages{
        height: 100px;
    }
    .pageBtn{
        width: 180px;
        height: 60px;
        font-size: 18px;
        margin-bottom: 40px;
        // position: fixed;
    }

    .prvs{
        left: 30%;

        // left: 0%;
    }
    
    .next{
        right: 30%;
        // right: 0%;
    }

}

@media (min-width: 1400px){
    .prvs{
        left: 36%;

        // left: 5%;       
    }
    
    .next{
        right: 36%;
        
        // right: 5%;
    }
}