.switchPages{
    height: 60px;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
}

.pageBtn { 
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    border: 1px solid black;    
    border-radius: 50px;
    background-color: #2f889a;
    color: white;
    font-size: 14px;
}

.pageBtn:hover{
    background-color: tomato;

}


@media (min-width: 940px){
    .switchPages{
        height: 100px;
    }
    .pageBtn{
        width: 180px;
        height: 60px;
        font-size: 18px;
        margin-bottom: 40px;
    }
}