.click{
    display:flex;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: space-around;  
}

.button-like{
    background-color: #343642;
    color: #cdcfcf;
    font-size: 16px;
    border-radius: 30%;
    

}
.button-dislike{
    background-color: #343642;
    color: #cdcfcf;
    font-size: 16px;
    border-radius: 30%;
}

