// li
.modal-card {
    // background-color: #343642;
    background: rgba(52, 54, 66, 0.99);  //background li

    border-radius: 4px;
    justify-content: space-between;
    width: 100%;

    position: absolute;

    top: 48vh;
    left: 50%;
    transform: translate(-50%, -68%);

    margin-bottom: 60px;


    box-shadow: 2px 3px 14px 0px rgba(196, 188, 188, 0.527);
    transition: all 0.3s ease;
}

// p in li
.modal-card p {
    display: block;
    width: 100%;
}

//div card inner (image-wrap  / card-wrap) 
.card-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

//div image wrap (left)
.image-wrap {}

.img-markup {
    // max-width: 40%;
    border-radius: 4px;
}

.image-wrap_markup {
    width: 100%;
}


//div card wrap (exButton / div title / div comm / favButton)
.card-wrap {
    width: 100%;
    position: relative;
    // background-color: tomato; //rigth block bg

    display: none; //hide block
}

//buttons wrap 
.button-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

//div card-wrap for visually block
.card-block {
    display: flex;
    flex-direction: column;

}

//title div
.title-wrap {
    padding: 16px 26px 8px 14px;

    // border: 1px solid red; //border solid

    // padding-top: 16px;
    // padding-left: 20px;
    // padding-right: 24px;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: block;
}



//comments 
//comments div wrap
.comments-wrap {
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    width: 100%;
    // max-height: 50%;
    padding-right: 10px;
    padding-right: 8px;

    // margin: 0 auto;
}



//display none 
.display-none {
    display: none;
    opacity: 0;
}

.buttons-wrap {
    display: block;
    position: absolute;
    bottom: -30px;
}