.film-list__title {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
}

// p in li
.modal-card p {
    display: block;
    width: 100%;
}

//title style 
//all
.film-card_title,
.film-release,
.film-vote_count,
.film-vote_average,
.overview-film {
    color: #ffffff;
    display: block;
    margin-bottom: 6px;
}

//title
.film-card_title {
    font-size: 18px;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

// release
.film-release {

}

//film count 
.film-vote_count {

}

//film average
.film-vote_average {

}

//film overview
.overview-film {

}